body {
  background-color: #e6f2ff;
}

.jumbotron {
  text-align: center;
  background-color: #003366;
  color: white;
}

.container-fluid {
  overflow: hidden;
}

#left {
  background-color: #a4bee8;
  border-right: 2px solid #006fe6;
}

#right {
  background-color: e6f2ff;
}

#pingpong {
  max-width: 200px;
  height: auto;
  display:block;
  margin: auto;
}

#aboutHeader {
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 2px ridge pink;
  border-radius: 2px;
}

.leftHeaders {
  color: #FAFAD2;
  padding: 0px 5px;
}

.leftContent {
  padding: 0px 10px;
}

#topColumn {
  border-bottom: 2px solid grey;
  padding: 10px 5px;
}

.btn {
  margin-left: 5px;
}
